<!DOCTYPE HTML>
<html>
<head>
  <title>Speech Summarizer</title>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/skel-noscript.css">
<!--[if lte IE 8]>
<script src="css/ie/html5shiv.js"></script>
<![endif]-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.poptrox-2.2.js"></script>
<script src="../static/js/skel.min.js"></script>
<script src="../static/js/init.js"></script>
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie/v8.css">
<![endif]-->
</head>
<body>
  <section id="header">
    <header>
      <h1>Speech Summarizer</h1>
      <p>By Tino Pietrassyk</p>
    </header>
    <footer> <a href="#banner" class="button style2 scrolly">Upload a File</a> </footer>
  </section>
  
  <section id="banner">
    <header>
      <h2>Upload an Audio File</h2>
      <br></br>
      <p>Please note, that the file has to be in a .wav or .mp3 format. Make sure that the audio contains a person speaking.</p>
    </header>
    
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="user_file" class="button style2 scroll" placeholder="Your.wav">
        <!--<label name="user_file" class="button style2 scroll" placeholder="Your.wav">
          <input type="file" style='display: none'/>
        </label>-->
        <br></br>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><button type="submit" class="button style2 scroll" >Upload</button></li>
            </ul>
            <br></br>
          </div>
        </div> 
      </form>
      <p>Uploading and Processing might take up to 5 Minutes. Please be patient</p>
  </section>
  <section id="footer">
    <ul class="icons">
      <!--<li><a href="https://medium.com/@pietrassyk" class="icon icon-medium solo"><span>Medium</span></a></li>
      <li><a href="mailto:pietrassyk@gmail.com" class="icon icon-gmail solo"><span>Gmail</span></a></li>-->
      <li><a href="https://github.com/pietrassyk/" target="_blank" class="icon icon-github solo"><span>Github</span></a></li>
      <li><a href="https://www.linkedin.com/in/tinopietrassyk/" target="_blank" class="icon icon-linkedin solo"><span>LinkedIn</span></a></li>
    </ul>
    <div class="copyright">
      <ul class="menu">
        <li>&copy; Tino Pietrassyk. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
      </ul>
    </div>
  </section>
</body>
</html>